# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


# ================================= #
# Non-free packages                 #
# (see ReadMe-to-enable-speech.txt) #
# ================================= #
Assets/Plugins/Android/ttunityplugin.jar
Assets/Plugins/Android/ttunityplugin.jar.meta
Assets/Plugins/UnityAndroidTTSPlugin.dll
Assets/Takohi/
